body {
    border-radius: 10px;
    border-style: solid;
    border-color: #BBCCDD;
}

body {
    width: 500px;
    margin: 100px auto;
}

li {
    text-align: center;
    border-color: #333333;
    background-color: #F68722;
    margin: 20px;
}

h3 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}